extends ../theme
block content
    #main
        h1 Quality
        
        p Quality is a standard that can be tested, measured, or inspected to satisfy or exceed expectations for work performed by Merit Builders and compared to other work within the Metal Building industry. The Merit Builders standard for quality depends on the knowledge, skill, and experience of employees. An employee with talents and/or skills using tools and equipment, empowered to grow such assets, is the unit of quality that can be tested and measured by Merit Builders. Within this context, each employee controls quality. Employee roles define the actions performed for quality control.
