extends ../theme
block content
    #main
        h1 Safety
        
        p Merit Builders has the mission to operate a safe work environment for all employees. Each employee is required to log a minimum of 10 or 30 hours in OSHA safety training, within 6 months of official employment. During this training employees learn how to handle, use, and maintain tools and equipment without bodily injury. Visual communication techniques based on gestures or signals are introduced. First aid including first responder-level skills such as CPR are taught and reinforced. 

        h2 Safety And Health Program   
            ul 
                li
                    a(href='/download/MeritBuildersAccidentReportingRevisedBJune2006Reviewed2015.doc') Accident Reporting