extends ../../theme

block append head-link
    link(rel='stylesheet', href='/meritbuilders/css/account/resource.css')
block content
  .content-wrapper
    .resource
      h1 MERIT BUILDERS RECORDER
      p The Merit Builders Recorder app is designed to work with Android mobile devices, such as phones and tablets... support for Apple iOS devices is forthcoming! Recorder can be downloaded by managers, supervisors, or mentors
      h2 Android
      p The Recorder App runs on a mobile device accessible to one or more employees with an Android device, such as a tablet or phone.
      ul
        li
          a(href="/meritbuilders/apk/meritbuilders-recorder.apk" class="button") DOWNLOAD RECORDER APP
        li
          a(href="https://play.google.com/store/apps/details?id=com.brightattic.soundrecorder&hl=en" target="_blank" class="button") GET VOICE RECORDER APP
      h2 ACCESS
      p Each employee is provided an ID Card with NFC support. This allows the employee to be identified by the Recorder App by tapping an ID Card against a mobile device with an NFC reader.
      p The first employee to tap an ID card takes on the role of an instructor/student, inspector, or tester depending on the their role and the type of procedure performed.
      p One or more additional employee may be added to one or more procedures by also tapping their ID Cards.
      h2 PROCEDURE
      p A procedure is a list of instructions that can be completed by one or more more employees. Depending on the type of procedure, an instruction can capture an action performed with equipment or tools, a topic discussion, or question answer.
      .info
        ul
          li
            | Inspection - list of Actions between an employee and a training element, such as a power tool, which must be rated and optionally captured on video.
          li
            | Session - list of Topics for individual engagement or group discussion, which must be
          li
            | Test - list of Questions
      h3 INSPECTION
      .info
        ul
          li
            | Only 2 Employees may participate in an inspection.
          li
            | The inspector can be a Safety Manager, Training Manager, Quality Manager, or Supervisor
          li
            | An inspection can be performed on a Worker, Mentor, or Supervisor

      h2 SESSION
      .info
        ul
          li
            | 1 or more employees may participate in a session
          li
            | The instructor can be a Safety Manager, Training Manager, Quality Manager, Mentor, or Supervisor
          li
            | An inspection can be performed on a Worker, Mentor, or Supervisor

      h2 TEST
      .info
        ul
          li
            | Only 1 employee may participate in a test
          li
            | The tester can be a Safety Manager, Training Manager, Quality Manager, Mentor, Supervisor, or Worker
