extends ../../theme

block append head-link
    link(rel='stylesheet', href='/meritbuilders/css/account/resource.css')
block content
  .content-wrapper
    .resource
      h1 METAL BUILDING INSTITUTE
      p The Metal Building Institute, or MBI, is the standard for metal building assembly. Employees are encouraged to watch the DVD Training Series and complete online tests as a component of the Merit Builders Training Program.
      h2 ORGANIZATION
      ul
        li
          a(href="http://metal-building-institute.org/" target="_blank" class='button') WEBSITE
      h2 TEST
      p Tests provided by MBI can be accessed by clicking the following LOGIN button.
      ul
        li
          a(href="/resource" class='button' target="_blank") LOGIN
