extend ../theme
block append head-link
    link(rel='stylesheet', href='/meritbuilders/css/public/index.css')
block content
    .content-wrapper
        h1 WELCOME!
        p Management System Web App is temporarily unavailable for scheduled maintenance.
        p Please come back on the following date:
        h2 #{date}
