/*
.table {
    margin: 1em;
    padding: 1em;
    position: relative;
    border-style: solid;
    color: black;
    border-color: rgba(234, 189, 42, 0.8);
    border-width: 5px;
    border-radius: 15px;
    min-height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    overflow: hidden;
    text-align: center;
}

.table td {
    padding: 0.5em 0 0.5em 0;
}

.table a {
    color: black;
}

.table a:link {
    color: black;
}

.table a:hover {
    color: black;
}
*/

@media only screen and (max-width: 700px) {
    /*(min-device-width: 500px) and (max-device-width: 1024px) {*/
    /* Force table to not be like tables anymore */
    
    .table table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }
    /* Hide table headers (but not display: none;, for accessibility) */
    
    .table thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    .table tr {
        border: 1px solid #ccc;
    }
    .table td {
        /* Behave  like a "row" */
        
        border: none;
        /*        border-bottom: 1px solid #eee;*/
        
        position: relative;
        /*        padding-left: 50%;*/
    }
    .table td:before {
        /* Now like a table header */
        /*        position: fixed;*/
        /* Top/left values mimic padding */
        /*
        top: 2px;
        left: 2px;
*/
        /*
        text-align: left;
        width: 20%;
*/
        
        padding-right: 1em;
        /*        white-space: nowrap;*/
    }
    /*
		Label the data
		*/
    
    .table td:nth-of-type(1):before {
        content: "NAME";
    }
    .table td:nth-of-type(2):before {
        content: "ID";
    }
    .table td:nth-of-type(3):before {
        content: "LEVEL";
    }
    .table td:nth-of-type(4):before {
        content: "ACTIONS";
    }
    .table td:nth-of-type(5):before {
        content: "INSPECTIONS";
    }
    .table td:nth-of-type(6):before {
        content: "SESSIONS";
    }
    .table td:nth-of-type(7):before {
        content: "TESTS";
    }
}
/* Smartphones (portrait and landscape) ----------- */
/*
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    body {
        padding: 0;
        margin: 0;
        width: 320px;
    }
}
*/
/* iPads (portrait and landscape) ----------- */
/*
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    body {
        width: 495px;
    }
}*/