.employee-content {
    margin: 10px;
    padding: 20px;
    position: relative;
    border-style: solid;
    color: black;
    border-color: rgba(234, 189, 42, 0.8);
    border-width: 5px;
    border-radius: 15px;
    min-height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    overflow: hidden;
}

.employee-procedure {
    text-align: center;
    margin: 10px;
    padding: 20px;
    wsidth: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    border-style: solid;
    border-width: 5px;
    border-radius: 15px;
    border-color: rgba(234, 189, 42, 0.8);
}

.employee-procedure input,
label {
    margin: 1em;
    padding: 1em;
}

.employee-messanger {
    text-align: center;
    margin: 10px;
    padding: 20px;
    wsidth: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    border-style: solid;
    border-width: 5px;
    border-radius: 15px;
    border-color: rgba(234, 189, 42, 0.8);
    margin: 1em;
    padding: 1em;
}

.employee-messanger input,
label {
    margin: 1em;
    padding: 1em;
}

.employee-a-id {
    width: 25%;
}
/*

table.sortable thead {
    background-color: rgba(30, 47, 97, 0.9);
    #eee;

    color: #fff;
    font-weight: bold;
    cursor: default;
}
*/

table {
    width: 100%;
}

.employee-image {
    width: 480px;
    border-radius: 15px;
    border-style: solid;
    border-color: rgba(234, 189, 42, 0.8);
    border-size: 1em;
    height: auto;
}

.employee-identification {
    float: left;
    padding: 1em;
    text-align: center;
}

.employee-identification h2 {
    text-transform: uppercase;
    color: rgba(30, 47, 97, 0.9);
}

.employee-navigation {
    padding: 1em;
    text-align: center;
}

.employee-navigation li {
    /*    display: inline;*/

    padding-bottom: 3em;
    /*    margin-left: 50%;*/
}

.employee-table {
    margin: 1em;
    padding: 1em;
    position: relative;
    border-style: solid;
    color: black;
    border-color: rgba(234, 189, 42, 0.8);
    border-width: 5px;
    border-radius: 15px;
    min-height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    overflow: hidden;
    text-align: center;
}

.employee-table table {
    width: 100%;
}

.employee-table td {
    padding: 0.5em 0.5em 0.5em 0.5em;
    text-align: center;
}
/*table.sortable thead {*/

.employee-table thead {
    /*    background-color: rgba(30, 47, 97, 0.9);*/
    /*#eee;*/

    margin: 1em;
    text-align: center;
    color: rgba(30, 47, 97, 0.9);
    font-weight: bold;
    cursor: default;
}

.employee-table input[type=submit] {
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 0 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 0 0;
    box-shadow: rgba(0, 0, 0, 0.2) 0 1px 0 0;
    color: #FFF;
    background-color: #FA2;
    border-radius: 5px;
    width: 50%;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    height: 32px;
    padding: 4px 16px;
    text-shadow: #FE6 0 1px 0
}

.employee-table li {
    border-style: solid;
    border-width: 2px;
    background-color: white;
    border-color: rgba(234, 189, 42, 0.8);
    border-radius: 15px;
    opacity: 1;
}

.employee-table input {
    margin: 15px;
}

.employee-table label {
    margin: 15px;
    min-width: 20px;
    display: inline-block;
}

.employee-table label.statement {
    margin: 15px;
    min-width: 300px;
    font-weight: bold;
    display: inline-block;
}

.employee-table ul li {
    text-align: left;
    margin: 5px;
    padding: 5px;
    display: block;
}

.employee-table a {
    color: black;
}

.employee-table a:link {
    color: black;
}

.employee-table a:hover {
    color: black;
}

#worker {
    background-color: lightblue;
    color: blue;
}

#supervisor {
    background-color: red;
    color: white;
}

#general-manager {
    background-color: yellow;
    color: blue;
}

#quality-manager {
    background-color: orange;
    color: blue
}

#safety-manager {
    background-color: green;
    color: white;
}

#training-manager {
    background-color: lightblue;
    color: white;
}

#mentor {
    background-color: blue;
    color: white;
}

#mechanic {
    background-color: gray;
    color: white;
}
