/*
.instruction-list {
    padding: 1em;
    border-style: solid;
    border-width: 2px;
    background-color: white;
    border-color: rgba(234, 189, 42, 0.8);
    border-radius: 15px;
    opacity: 1;
}

.instruction-list ul {
    padding-left: 2em;
}

.instruction-list h3 {
    text-align: center;
    text-transform: uppercase;
    color: rgba(30, 47, 97, 0.9);
}
*/

.instruction-write {
    background-color: white;
}

.instruction-read h3 {
    text-align: left;
}

.instruction-statement {
    float: left;
    text-align: center;
}

.instruction-value {
    float: left;
    padding: 1em;
}

.instruction {
    padding: 1em;
    overflow: hidden;
    padding-left: 5em;
}

.instruction-comment-textarea {
    width: 200px;
    height: 200px;
}

.instruction-table {
    padding: 1em;
    border-style: solid;
    border-width: 2px;
    background-color: white !important;
    color: black !important;
    border-color: rgba(234, 189, 42, 0.8) !important;
    border-radius: 5px;
    opacity: 1;
    width: 100%;
}

.instruction-table table {
    !important background-color: white;
    text-align: center;
}

.instruction-table td {
    width: 1em;
    vertical-align: top;
}

.comment-div table {
    background-color: white;
}