.procedure-image {
    width: 480px;
    border-radius: 15px;
    border-style: solid;
    border-color: rgba(234, 189, 42, 0.8);
    border-size: 1em;
    height: auto;
}

.procedure-execute table {
    background-color: blue;
    color: orange;
}

.procedure-execute a {
    text-decoration: none;
    color: orange;
}

.procedure-execute a:hover {
    text-decoration: none;
    color: rgba(234, 189, 42, 0.8);
}

.procedure-execute a:link {
    text-decoration: none;
    color: orange;
}

.procedure-read a {
    color: white;
}

.procedure-read a:hover {
    text-decoration: none;
    color: rgba(234, 189, 42, 0.8);
}

.procedure-read table {
    background-color: #009900;
    color: white;
}

.procedure-read h2 {
    text-align: left;
    color: rgba(30, 47, 97, 0.9);
}

.procedure-write table {
    background-color: yellow;
    color: blueviolet;
}

.procedure-write h2 {
    text-align: center;
    color: rgba(30, 47, 97, 0.9);
}

.procedure-write a {
    color: purple;
}

.procedure-write a:hover {
    text-decoration: none;
    color: rgba(30, 47, 97, 0.9);
}