#training-content {
    margin: 10px;
    padding: 20px;
    position: relative;
    border-style: solid;
    color: black;
    border-color: rgba(234, 189, 42, 0.8);
    border-width: 5px;
    border-radius: 15px;
    min-height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    overflow: hidden;
}

#training-navigation {
    padding: 1em;
    text-align: center;
}

#training-navigation li {
    /*    display: inline;*/

    padding-bottom: 3em;
    /*    margin-left: 50%;*/
}

#training-list li {
    border-style: solid;
    border-width: 2px;
    background-color: white;
    border-color: rgba(234, 189, 42, 0.8);
    border-radius: 15px;
    opacity: 1;
}

#training-list input {
    margin: 15px;
}

#training-list label {
    margin: 15px;
    min-width: 20px;
    display: inline-block;
}

#training-list label.statement {
    margin: 15px;
    min-width: 300px;
    font-weight: bold;
    display: inline-block;
}

#training-list ul li {
    text-align: left;
    margin: 5px;
    padding: 5px;
    display: block;
}

#training-list a {
    color: black;
}

#training-image {
    width: 480px;
    border-radius: 15px;
    border-style: solid;
    border-color: rgba(234, 189, 42, 0.8);
    border-size: 1em;
    height: auto;
}

#training-read {}

#training-read h2 {
    text-align: left;
    color: rgba(30, 47, 97, 0.9);
}

#training-read h3 {
    text-align: left
}

#training-write {
    text-align: center;
}

#training-write h2 {
    /*    text-transform: uppercase;*/

    text-align: center;
    color: rgba(30, 47, 97, 0.9);
}

#training-write table {
    width: 100%;
}

#training-name td {
    width: 30%;
}
/*#training-write td {
    /*    text-align: left;

   width: 10%;
}*/

#training-list {
    padding: 5px;
    text-align: center;
}

#training-write input[type=submit] {
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 0 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 0 0;
    box-shadow: rgba(0, 0, 0, 0.2) 0 1px 0 0;
    color: #FFF;
    background-color: #FA2;
    border-radius: 5px;
    width: 50%;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    height: 32px;
    padding: 4px 16px;
    text-shadow: #FE6 0 1px 0
}

.textbox {
    height: 25%;
    width: 50%;
}

.format-table {
    padding: 1em;
    border-style: solid;
    border-width: 2px;
    background-color: white;
    border-color: rgba(234, 189, 42, 0.8);
    border-radius: 15px;
    opacity: 1;
}

#condition-list {
    padding: 1em;
    border-style: solid;
    border-width: 2px;
    background-color: white;
    border-color: rgba(234, 189, 42, 0.8);
    border-radius: 15px;
    opacity: 1;
}

#condition-list ul {
    padding-left: 2em;
}

#condition-list h3 {
    text-align: center;
    text-transform: uppercase;
    color: rgba(30, 47, 97, 0.9);
}

#condition-write {}

#condition-read h3 {
    text-align: left;
}

#condition-statement {
    float: left;
    text-align: center;
}

#condition-value {
    float: left;
    padding: 1em;
}

#condition {
    padding: 1em;
    overflow: hidden;
    padding-left: 5em;
}

#condition-read {}

p {
    color: rgba(30, 47, 97, 0.9);
    font-size: 100%;
}
