/*RESET*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

:focus {
    outline: 0;
}

ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}
/* START */

html {
    height: 100%;
    min-height: 100%;
    background: rgba(30, 47, 97, 1) url("/meritbuilders/img/employee/4.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    height: 100%;
    min-height: 100%;
    font-family: 'Open Sans', sans-serif;
}

video {
    width: 75%;
    height: auto;
    /*    display: block;*/
}

audio {
    display: block;
}
/*
a {
    color: rgba(30, 47, 97, 0.9);
    width: 20em;
}
*/

a:link {
    text-decoration: none;
    color: rgba(30, 47, 97, 0.9);
}

a:visited {
    text-decoration: none;
    color: rgba(30, 47, 97, 0.9);
}

a:hover {
    text-decoration: none;
    color: rgba(234, 189, 42, 0.8);
}

a:active {
    text-decoration: none;
}

.button {
    display: inline;
    text-align: center;
    /*background: #02277B;*/
    /*border: 2px solid rgba(255, 255, 255, 0.8);*/
    padding: 1em;
    color: white;
    font: bold 1em/30px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    /*background: -webkit-linear-gradient(top, #02277B, #022F96);
    background: -moz-linear-gradient(top, #02277B, #022F96);
    background: -o-linear-gradient(top, #02277B, #022F96);
    background: -ms-linear-gradient(top, #02277B, #022F96);
    background: linear-gradient(top, #02277B, #022F96);
    -webkit-border-radius: 15px;
    -khtml-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    -webkit-box-shadow: 0 8px 0 rgba(234, 189, 42, 0.8);
    -moz-box-shadow: 0 8px 0 rgba(234, 189, 42, 0.8);
    box-shadow: 0 8px 0 rgba(234, 189, 42, 0.8);
    text-shadow: 0 2px 2px rgba(255, 255, 255, 0.2);*/
}

input[type=button].button {
    text-decoration: none;
}

input[type=button].button:hover {
    background: #0338AF;
    background: -webkit-linear-gradient(top, #0338AF, #022F96);
    background: -moz-linear-gradient(top, #0338AF, #022F96);
    background: -o-linear-gradient(top, #0338AF, #022F96);
    background: -ms-linear-gradient(top, #0338AF, #022F96);
    background: linear-gradient(top, #0338AF, #022F96);
}

a.button:hover {
    background: #0338AF;
    background: -webkit-linear-gradient(top, #0338AF, #022F96);
    background: -moz-linear-gradient(top, #0338AF, #022F96);
    background: -o-linear-gradient(top, #0338AF, #022F96);
    background: -ms-linear-gradient(top, #0338AF, #022F96);
    background: linear-gradient(top, #0338AF, #022F96);
}

.wrapper {
    width: 100%;
    min-height: 100%;
    position: relative;
}

#logo {
    width: 190px;
    height: auto;
    margin-right: 1em;
    vertical-align: middle;
    float: left;
}

.header {
    background: #fff;
    width: 100%;
    height: 10em;
    padding: 1em 1em 1em 1em;
    text-align: center;
    top: 0;
    left: 0;
    z-index: 100;
    color: white;
    background-color: rgba(140,33,0, 0.9);
}

.header h1,
h2 {
    color: white;
    text-align: left;
    margin: 0 2em 1em 0;
}

.header a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.header a:hover {
    color: white;
}

.header a:link {
    color: white;
}

.header nav {
    height: 8em;
    text-align: right;
    margin: 1em 2em 0em 1em;
}

.header ul {
    list-style: none;
}

.header li {
    display: inline-block;
    margin-bottom: 1em;
}

#menu-icon {
    display: hidden;
    width: 40px;
    height: 40px;
    background: rgba(234, 189, 42, 0.8) url(/matthelme/img/menu-icon.png) center;
    border-width: 1px;
    border-radius: 5px;
}

a:hover#menu-icon {
    background-color: #444;
    border-radius: 4px 4px 0 0;
}

.content {
    width: 100%;
    padding-bottom: 30px;
}

.content-wrapper {
    position: relative;
    min-height: 100%;
    margin: 1em;
    padding: 1em;
    position: relative;
    border-style: solid;
    color: black;
    border-color: rgba(234, 189, 42, 0.8);
    border-width: 5px;
    border-radius: 15px;
    min-height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    overflow: hidden;
    text-align: center;
}

.content-wrapper h1,
h2,
h3 {
    color: rgba(30, 47, 97, 0.9);
    text-align: center;
}

.content-wrapper a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.content-wrapper a:hover {
    color: white;
}

.content-wrapper a:link {
    color: white;
}

.content-wrapper label {
    color: rgba(30, 47, 97, 0.9);
    text-align: center;
}

.content-wrapper ul {
    list-style: none;
}

.content-wrapper li {
    display: inline-block;
    /*    float: left;*/

    margin-bottom: 1em;
}

.content-wrapper h1 {
    color: rgba(30, 47, 97, 0.9);
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    color: white;
    text-align: center;
    left: 0;
    background-color: rgba(0,0,0, 0.8);
}

.scaleResult {
    font-size: large;
    height: 20px;
    width: 20px;
    text-align: center
}

.grow:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

.shrink:hover {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
}

table tr td {
    text-align: center;
}

#google_translate_element {
    margin-bottom: 5em;
    padding: 1em;
    color: rgba(30, 47, 97, 0.9);
    display: inline-block;
}

#google_translate_element a:link span {
    text-decoration: none;
    text-transform: capitalize;
    color: rgba(30, 47, 97, 0.9);
}

.apply {
    margin: 1em 0 0 0;
}

.apply label {
    margin: 0 0 1em 0;
}

.apply select {
    width: 10em;
}

.hidden {
    display: none;
    /*    transform: scale(0.8);*/

    transition: 0.5s;
}

.visible {
    /*    display: inline;*/
    /*    transform: scale(0.8);*/
    /*    display: block;*/

    transition: 0.5s;
}

.list {
    padding: 5px;
    text-align: center;
}

.list a {
    color: rgba(30, 47, 97, 0.9);
}

.list a:hover {
    text-decoration: none;
    color: rgba(234, 189, 42, 0.8);
}

.list p {
    padding: 2em;
}

.list ul {
    list-style-type: none;
    text-align: left;
    margin: 1e, ;
    padding: 1em;
    display: block;
}

.list li {
    border-style: solid;
    border-width: 2px;
    background-color: white;
    border-color: rgba(234, 189, 42, 0.8);
    border-radius: 15px;
    opacity: 1;
    text-align: left;
    margin: 5px;
    padding: 5px;
    display: block;
}

.list input {
    margin: 15px;
}

.list label {
    margin: 15px;
    min-width: 20px;
    display: inline-block;
}

.list label.statement {
    margin: 15px;
    min-width: 300px;
    font-weight: bold;
    display: inline-block;
}

.list table {
    width: 100%;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(234, 189, 42, 0.8);
    border-radius: 5px;
}

.list td {
    width: 20em;
    overflow: hidden;
    word-wrap: break-word;
    text-align: center;
}

.table {
    margin: 1em;
    padding: 1em;
    position: relative;
    border-style: solid;
    color: black;
    border-color: rgba(234, 189, 42, 0.8);
    border-width: 5px;
    border-radius: 15px;
    min-height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    overflow: hidden;
    text-align: center;
}

.table td {
    padding: 0.5em 0 0.5em 0;
}

.table a {
    color: black;
}

.table a:link {
    color: black;
}

.table a:hover {
    color: black;
}
/*MEDIA QUERY*/

@media print {
    .no-print,
    .no-print * {
        display: none !important;
    }
}

@media only screen and (max-width: 790px) {
    .header {
        position: absolute;
        height: 10em;
    }
    #menu-icon {
        display: inline-block;
    }
    .header h1,
    h2 {
        text-align: center;
        /*color: white;*/
        margin: 0 2em 1em 0;
    }
    .header nav {
        height: 5em;
    }
    .header nav ul,
    .header nav:active ul {
        display: none;
        position: absolute;
        padding: 20px;
        background: #fff;
        border: 5px solid rgba(234, 189, 42, 0.8);
        right: 20%;
        top: 60px;
        width: 50%;
        border-radius: 5px;
    }
    .header nav li {
        text-align: center;
        width: 100%;
        padding: 1em 0 1em 0;
        margin: 0;
    }
    .header nav:hover ul {
        display: block;
    }
    .content {
        padding-top: 12em;
    }
    #logo {
        width: 50px;
        height: auto;
        margin: 1em 1em 0 0;
        vertical-align: middle;
    }
}

.tooltip{
    display: inline;
    position: relative;
}

.tooltip:hover:after{
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(title);
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 220px;
}

.tooltip:hover:before{
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    left: 50%;
    /*position: absolute;*/
    z-index: 99;
}
