extends ../theme

block append head-link
    link(rel='stylesheet', href='/meritbuilders/css/account/element.css')
    link(rel='stylesheet', href='/jqcloud/css/jqcloud.css')
    
block head-script
    script(type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js')
    script(type='text/javascript', src='/jqcloud/js/jqcloud-1.0.4.min.js')
    script. 
        var eList = !{JSON.stringify(elementList)};
        var elementArray = new Array();
        for (var i = 0; i < eList.length; i++) {
            elementArray[i] = '{text: \"' + eList[i].name2 + '\", weight: 1}';
            console.log(elementArray[i]);
        }
        $(function() {
            
            console.log(elementArray);
            $("#element-container").jQCloud(elementArray);
        });
    
block content  
    #document-content 
        #element-container(style="width: 550px; height: 350px; border: 1px solid #ccc;")
block body-script


