extends ../them

block append head-link
    link(rel='stylesheet', href='/meritbuilders/css/account/material.css')
    
block content
    #content-wrapper
        if(typeof(materialList) !== 'undefined')
            if materialList.length > 0
                if typeof(generalManager) !== "undefined" || typeof(safetyManager) !== "undefined"
                table(class='sortable')
                    thead
                        th Common Name
                        th Chemical Name
                        th Work Area
                        th Date
                    each material, i in materialList
                        tr
                            td
                                material.name
                            td
            else
                p No material found
        else if(typeof(material) !== "undefined")
             div#material
                
            
                
		
