extends ../theme

block append head-link
    link(rel='stylesheet', href='/meritbuilders/css/account/resource.css')
block content
  .content-wrapper
    nav
        ul
            if typeof(contentMenu) !== 'undefined'
                -var selected = 'home';
                each val, key in contentMenu
                    li
                        if selected === key
                            a.button.selected(href=val, title=key)= key
                        else
                            a.button(href=val, title=key)= key
    .resource
      p Merit Builders training resources are acquired from third parties or created by Merit Builders Safety, Quality, and Training Managers.
      ul
        li
          a(href="/resource/1" ) METAL BUILDING INSTITUTE
        li
          a(href="/resource/2" ) MERIT BUILDERS RECORDER
