extends ../theme
block append head-link
	link(rel='stylesheet', href='/meritbuilders/css/account/phone.css')

block content
	.content-wrapper
		.phone-wrapper
			nav
				ul
					li
						input(type="button", class="button", id='message-button', title='create and send a text message to users by name or role', class='tooltip', value="MESSAGE")
					li
						input(type="button", class="button", id='call-button', value="CALL")
			#message
			form(name="message-form",id='message-form', method="post")
				div.input
					span.label Text
					textarea(name="description", cols="64", rows="5")
				nav
					ul
						li
							input(type="button", class="button", id='test', title='send test message', class='tooltip', value="TEST")
						li
							input(type="button", class="button", id='send', title='send live message', class='tooltip',value="SEND")
			#call.hidden
block append body-script
	script(type='text/javascript', src='/meritbuilders/js/phone.js').
