extends ../theme

block append head-link
    link(rel='stylesheet', href='/meritbuilders/css/account/employee.css')
    style.
        #show-case
        {
            box-shadow:1px 1px 5px 2px #FFFFFF;
            border-raduius:10px;
            height:300px;
            margin:10px auto;
            width:600px;
        }
        img
        {
               position:absolute;
               width:600px;
               
        }

block content    
    #content-wrapper
        if(typeof(employeeList) !== 'undefined')
            if typeof(generalManager) !== "undefined" && generalManager
                div#show-case
                    img(class="img", src='/meritbuilders/img/employee/1.jpg')
                    img(class="img", src='/meritbuilders/img/employee/2.jpg')
                    img(class="img", src='/meritbuilders/img/employee/3.jpg')
                    img(class="img", src='/meritbuilders/img/employee/4.jpg')

            else
                div#list
                    p Not Authorized
block append body-script
    script(type='text/javascript', src='/meritbuilders/js/employee.js')      
    script(type='text/javascript', src='/kryogenix/js/sorttable.js') 
    script.
        $(document).ready(function()
        {
            $('.img:gt(0)').hide();
            setInterval(function() {
                $(".img:first-child").fadeOut(3000).next(".img").fadeIn(3000).end().appendTo("#show-case")
        }, 4000);

        });