#contractor-content {
    margin: 10px;
    padding: 20px;
    position: relative;
    border-style: solid;
    color: black;
    border-color: rgba(234, 189, 42, 0.8);
    border-width: 5px;
    border-radius: 15px;
    min-height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    overflow: hidden;
}

table.sortable thead {
    background-color: #eee;
    color: #666666;
    font-weight: bold;
    cursor: default;
}

table {
    width: 100%;
}

#contractor-image {
    width: 480px;
    border-radius: 15px;
    border-style: solid;
    border-color: rgba(234, 189, 42, 0.8);
    border-size: 1em;
    height: auto;
}

#contractor-identification {
    float: left;
    padding: 1em;
    text-align: center;
}

#contractor-identification h2 {
    text-transform: uppercase;
    color: rgba(30, 47, 97, 0.9);
}

#contractor-navigation {
    padding: 1em;
}

#contractor-navigation li {
    display: block;
    padding-bottom: 3em;
    margin-left: 50%;
}

#contractor-list {
    padding: 5px;
    text-align: center;
}

#contractor-list input[type=submit] {
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 0 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 0 0;
    box-shadow: rgba(0, 0, 0, 0.2) 0 1px 0 0;
    color: #FFF;
    background-color: #FA2;
    border-radius: 5px;
    width: 50%;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    height: 32px;
    padding: 4px 16px;
    text-shadow: #FE6 0 1px 0
}

#contractor-list li {
    border-style: solid;
    border-width: 2px;
    background-color: white;
    border-color: rgba(234, 189, 42, 0.8);
    border-radius: 15px;
    opacity: 1;
}

#contractor-list input {
    margin: 15px;
}

#contractor-list label {
    margin: 15px;
    min-width: 20px;
    display: inline-block;
}

#contractor-list label.statement {
    margin: 15px;
    min-width: 300px;
    font-weight: bold;
    display: inline-block;
}

#contractor-list ul li {
    text-align: left;
    margin: 5px;
    padding: 5px;
    display: block;
}

#contractor-list a {
    color: black;
}