#session-content {
    margin: 10px;
    padding: 20px;
    position: relative;
    border-style: solid;
    color: black;
    border-color: rgba(234, 189, 42, 0.8);
    border-width: 5px;
    border-radius: 15px;
    min-height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    overflow: hidden;
}

#session-list {
    padding: 5px;
    text-align: center;
}

#session-list input[type=submit] {
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 0 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 0 0;
    box-shadow: rgba(0, 0, 0, 0.2) 0 1px 0 0;
    color: #FFF;
    background-color: #FA2;
    border-radius: 5px;
    width: 50%;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    height: 32px;
    padding: 4px 16px;
    text-shadow: #FE6 0 1px 0
}

#session-list li {
    border-style: solid;
    border-width: 2px;
    background-color: white;
    border-color: rgba(234, 189, 42, 0.8);
    border-radius: 15px;
    opacity: 1;
}

#session-list input {
    margin: 15px;
}

#session-list label {
    margin: 15px;
    min-width: 20px;
    display: inline-block;
}

#session-list label.statement {
    margin: 15px;
    min-width: 300px;
    font-weight: bold;
    display: inline-block;
}

#session-list ul li {
    text-align: left;
    margin: 5px;
    padding: 5px;
    display: block;
}

#session-list a {
    color: black;
}