doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='../../favicon.ico')
    title Genocan
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
    link(rel="stylesheet",href="css/bootstrap.min.css")
    // Custom styles for this template
    link(href='/meritoki/css/public/carousel.css', rel='stylesheet')
  body(data-spy='scroll', data-target='.scrollspy')
    .nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') Genocan
        #navbar.navbar-collapse.collapse
          form.navbar-form.navbar-right(class="login-form", action="/login", method="POST")
            .form-group
              input.form-control(type='text', placeholder='Email', name="name", id="name")
            .form-group
              input.form-control(type='password', placeholder='Password', name="password", id="password")
             button.btn.btn-success(type='submit') Sign in

    // Carousel
    // ==================================================
    .jumbotron(style="text-align:center;margin-top:5em")
      .container
        h1 Analysis
        p
          | Consolidating Genome analysis tools
        p
          //a.btn.btn-primary.btn-lg(href='#', role='button') Learn more »

    .container.marketing
      // Three columns of text below the carousel
      .row
        .col-lg-4
          img.img-circle(src='/meritoki/img/index/solar.png', alt='Generic placeholder image', width='140', height='140')
          h2 What is Prospero
          p
            | Prospero is a platform that uses information from the solar system to predict weather on the Sun and Earth.
          p
            //a.btn.btn-default(href='#', role='button') View details »
        .col-lg-4
          img.img-circle(src='/meritoki/img/index/earth.png', alt='Generic placeholder image', width='140', height='140')
          h2 Earth
          p
            | Earth is more susceptible to changes in the solar system than previously though possible. Use Prospero to predict weather events on Earth.
          p
            //a.btn.btn-default(href='#', role='button') View details »
        .col-lg-4
          img.img-circle(src='/meritoki/img/index/sun.png', alt='Generic placeholder image', width='140', height='140')
          h2 Sun
          p
            | Weather on the Sun can be predicted more accurately then ever before, made possible by Prospero.
          p
            //a.btn.btn-default(href='#', role='button') View details »
      // START THE FEATURETTES
      hr.featurette-divider
      .row.featurette
        .col-md-7
          h2.featurette-heading
            | Predict Sunspot Counts
            span.text-muted It'll blow your mind.
          p.lead
            | Sun spots can appear in the northern and southern hemisphere of the Sun. These dark regions are associated with solar flares and coronal mass ejections, or CMEs. The Earth is protected from such events by an electromagnetic field formed by its atmosphere. However, solar flares and coronal mass ejections may still impact Earth.
        .col-md-5
          img.featurette-image.img-responsive.center-block(src='/meritoki/img/index/sunspot.png', alt='Generic placeholder image')
      hr.featurette-divider
      .row.featurette
        .col-md-7.col-md-push-5
          h2.featurette-heading
            | Predict Cyclonic Events on Earth
            span.text-muted See for yourself.
          p.lead
            | Cyclonic events on Earth have the potential to be influenced by other planets in the solar system. Find out when and where possible Tornadoes, Hurricanes, and Typhoons will strike.
        .col-md-5.col-md-pull-7
          img.featurette-image.img-responsive.center-block(src='/meritoki/img/index/tornado.png', alt='Generic placeholder image')
      hr.featurette-divider
      .row.featurette
        .col-md-7
          h2.featurette-heading
            | Analyze Historic Climate Events
            span.text-muted Checkmate.
          p.lead
            | Travel through time and observe historical weather events by choosing a specific time or location.
        .col-md-5
          img.featurette-image.img-responsive.center-block(src='/meritoki/img/index/antikythera.png', alt='Generic placeholder image')
      hr.featurette-divider
      // /END THE FEATURETTES
      // FOOTER
      footer
        p.pull-right
          a(href='#') Back to top
        p
          | © 2017 Meritoki, Inc.
          //·
          //a(href='#') Privacy
          //|  ·
          //a(href='#') Terms
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
    // script(src="js/jquery.min.js")
    // script(src="js/bootstrap.min.js")
