doctype
html
    head
        title Merit Builders Management System
    block head-link
        link(rel='shortcut icon', href='/meritbuilders/img/logo/favicon.ico', type='image/x-icon')
        link(rel='stylesheet', href='/meritbuilders/css/theme.css')
    block head-script
        script(type='text/javascript' src='/jquery/js/jquery-2.1.4.min.js')
    block head-meta
        meta(name='viewport' content='user-scalable=no; width=device-width; initial-scale=1; maximum-scale=1;')
    body
        .wrapper
            .header
                img(src="/meritbuilders/img/logo.png")#logo
                nav.no-print
                    a.selected(href='#', id='menu-icon')
                    ul
                        if typeof(menu) !== 'undefined'
                            -var selected = 'home';
                            each val, key in menu
                                li
                                    if selected === key
                                        a.button.selected(href=val, title=key)= key
                                    else
                                        a.button(href=val, title=key)= key
                span.notranslate
                    .content
                block content
            .footer
                span.notranslate
                    p v0.1.0 Copyright 2017 Meritoki, Inc. All Right Reserved
        block body-script
            script(type='text/javascript' src='/google/js/translate.js')
            //script(type='text/javascript' src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit")
